<div class="row">
<nb-card size="xlarge" class="col-md-6">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Security Cameras</span>
      <span class="cameras-filter">
        <a [class.active]="isSingleView" (click)="isSingleView = true">
          <i class="nb-square"></i>
        </a>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras single-view" *ngIf="isSingleView">
      <div class="camera" [style.background-image]="'url(' + 'http://10.1.0.7:8070/monitor-video' + ')'">
        <span>Camera #{{ selectedCamera.id }}</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card size="small" class="col-md-6">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Available Cameras</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ul class="event-list-list">
      <li *ngFor="let camera of cameraList" (click)="selectCamera(camera)">
        <nb-card status="info" >
          <nb-card-header>
            Camera #{{ camera.id }}
          </nb-card-header>
        </nb-card>
      </li>
    </ul>
  </nb-card-body>
</nb-card>
</div>